div.header {
  display: flex;
  background: #D79719;
  color: white;
  font-size: 1.1em;
  flex-wrap: wrap;
  align-items: center;
}

div.header>div {
  min-width: 200px;
  flex: 1 1 0;
}

div.header>div.my-infos {
  padding: 18px 42px;
}

div.header>div.my-infos ul li {
  line-height: 1.1em;
}

div.header>div.my-infos ul li:first-of-type {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1.2em;
}

div.header>div.title {
  text-align: center;
  padding: 0;
}

div.header>div.photo {
  text-align: right;
  padding: 18px 42px;
}

div.header>div.photo>img {
  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .3) rgba(255, 255, 255, .3) rgba(255, 255, 255, .1) rgba(0, 0, 0, .2);
}

div.body {
  display: flex;
  flex-wrap: wrap;
}

div.body>div.category {
  flex: 1 1 0;
  min-width: 360px;
}

div.body>div.category>ul>li {
  display: flex;
  flex-wrap: wrap;
}

div.body>div.category>ul>li>p {
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
  margin: 1px;
  flex: 1 1 0;
}

div.body>div.category p.margin {
  min-width: 80px;
  max-width: 120px;
}

div.body>div.category p.bigger {
  font-weight: bold;
}

div.body>div.category p.description {
  min-width: 180px;
}

span.where, span.libraries {
  font-style: italic;
  color: #666;
}

div.dots {
  display: inline-block;
  width: 86px;
  float: right;
}

div.dots>div.dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #D79719;
  border-radius: 6px;
  box-shadow: 0 0 3px #D79719 inset;
}

div.dots>div.dot.ok {
  background: #fd6;
}

@media all and (max-width: 800px) {
  div.header {
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  div.header>div {
    padding: 0;
    flex: 0 0 auto;
  }
  div.header>div.title {
    padding: 0;
    text-align: center;
  }
  div.header>div.photo {
    padding: 0 0 24px;
    text-align: center;
  }
  div.header>div.my-infos {
    padding: 24px 0 0;
    text-align: center;
  }
  div.body>div.category {
    min-width: 320px;
  }
}

@media all and (max-width: 600px) {
  div.body>div.category {
    min-width: 320px;
  }
}

@media all and (max-width: 320px) {
  div.body>div.category {
    min-width: 180px;
  }
}

/** IE **/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div.header>div, div.body>div.category, div.body>div.category>ul>li>p {
    flex: 1;
  }
}
